.max-wrapper {
  /* padding: 0px 120px 0px 120px; */
  padding: 0px 40px 0px 40px;
}

@media (min-width: 350px) and (max-width: 499px) {
  .max-wrapper {
    /* padding: 0px 20px 0px 20px; */
  }
}

/* @media(min-width:500px) and (max-width:767px){
    .max-wrapper{ */
/* padding: 0px 80px 0px 80px; */
/* } */
/* } */
@media (min-width: 640px) {
  .max-wrapper {
    padding: 0px 80px 0px 80px;
  }
}
@media (min-width: 768px) {
  .max-wrapper {
    padding: 0px 80px 0px 80px;
  }
}

@media (min-width: 1024px) {
  .max-wrapper {
    padding: 0px 120px 0px 120px;
  }
}
