


.menu-item a {
  text-decoration: none;
  color: #000000;
}
.menu-item span {
  display: flex;
  flex-direction: column;
}

.menu-item {
  /* display: none; */
  display: flex;
  /* justify-content: space-between; */
  gap: 32px;
}
.menu-number {
  width: 6px;
  height: 16px;
  font-size: 12px;
  font-weight: 500;

  line-height: 16px;
  color: #000000;
}
.menu-list:active {
  font-weight: 500;
}
.menu-list {
  font-size: 20px;
  
}

@media (min-width: 250px) {
  .menu-item {
    flex-direction: column;
    padding: 50px;
    padding-top: 20px;
    gap: 20px;
  }
  .menu-list {
    font-size: 1rem;
  }
}

@media (min-width: 640px) {
  .menu-item {
    /* padding: 20px; */
  }
}

@media (min-width: 768px) {
  .menu-item {
    flex-direction: row;
    gap: 32px;
    padding: 0px;
    /* padding-top: 0px; */
  }
  .menu-list {
    font-size: 18px;
  }
}
