.service-section {
  display: flex;
  flex-direction: column;
}

.section-container {
  display: flex;
  flex-direction: column;
  padding: 56px 0px 0px 0px;
  gap: 48px;
}
.section-left {
  display: flex;
  flex-direction: column;
  gap: 24px;

  /* align-items: center; */
}
.number-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */

  gap: 16px;
}

.number {
  width: 139px;
  height: 185px;
  text-align: center;
}
.service-menu {
  display: flex;
  gap: 20px;
  /* align-items: center; */
  justify-content: center;
  margin-top: 30px;
}
.section-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.service-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 64px;
  text-align: center;
}
.service-list {
  display: flex;
  flex-direction: column;

  gap: 30px;
  /* justify-content: space-between; */
  /* margin-left: 88px; */
  /* padding: 60px 0px 60px 0px; */
}
.menu-text {
  list-style-type: none;
  text-decoration: underline;
  text-underline-offset: 10px;
  cursor: pointer;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  color: #000000;
}
.service-menu-text {
  list-style-type: none;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
}

.service-image {
  width: 280px;
  height: 440px;
}

.service-description {
  display: flex;
  flex-direction: column;
  /* padding: 0px 70px 0px 0px; */

  align-items: flex-end;
  gap: 24px;
}
.service-description-text {
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
}
.text-btn-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex-wrap: wrap;
}

.service-menu-hr {
  border: none;
  width: 139px;
  height: 1px;
  background-color: #000000;
  /* margin: 0px -10px 0px -10px; */
}

@media (min-width: 640px) {
  .service-list {
    flex-direction: row;
  }
  .service-image {
    width: 360px;
    height: 440px;
  }
  .service-description-text {
    font-size: 15px;
  }
}
@media (min-width: 768px) {
  .section-container {
    flex-direction: row;
    /* margin: auto; */
  }
  .section-left {
    flex-direction: row;
    gap: 48px;
  }
  .service-text {
    font-size: 28px;
    line-height: 50px;
  }
  .service-list {
    flex-direction: column;
    gap: 40px;
  }
  .service-image {
    width: 290px;
    height: 440px;
  }

  .menu-text {
    font-size: 28px;
  }
  .service-description {
    /* padding: 0px 0px 0px 80px; */
  }
  .service-description-text {
    font-size: 13px;
    line-height: 20px;
  }
}

@media (min-width: 1024px) {
  .section-container {
    flex-direction: row;
    margin: auto;
    gap: 34px;
  }

  .service-list {
    gap: 40px;
  }
  .number {
    width: 160px;
    height: 225px;
  }
  .service-description {
    /* padding: 0px 0px 0px 30px; */
  }

  .service-description-text {
    font-size: 14px;
    line-height: 20px;
  }
}
@media (min-width: 1280px) {
  .section-container {
    flex-direction: row;
    /* margin: 0px; */
    gap: 48px;
  }
  .number-description {
    /* width: 450px;
    height: 505px; */
    margin-top: 67px;
  }
  .service-text {
    font-size: 46px;
    line-height: 64px;
  }
  .service-menu {
    margin-top: 80px;
  }
  .service-list {
    gap: 80px;
  }
  .menu-text {
    font-size: 24px;
  }
  .service-image {
    width: 500px;
    height: 640px;
  }
  .service-description {
    /* padding: 0px 90px 0px 0px; */
  }
  .service-description-text {
    font-size: 21px;
    line-height: 28px;
  }
}

@media (min-width: 1580px) {
  .section-container {
    margin: auto;
  }
  .number {
    width: 200px;
    height: 285px;
  }
  .menu-text {
    font-size: 30px;
  }
  .service-text {
    font-size: 46px;
  }
  .service-description {
    /* padding: 0px 340px 0px 0px; */
  }

  .service-description-text {
    font-size: 20px;
    line-height: 28px;
  }
}
