

.projects-section {
  display: flex;
  flex-direction: column;
  gap: 56px;
}

.project-card {
  display: flex;
  flex-direction: column;
  gap: 44px;
  /* padding: 56px 0px 0px 0px; */

  align-items: center;
}
.project-img {
  position: relative;

  display: flex;

  gap: 8px;
}
.classroom-img {
  width: 330px;
  height: 275px;
  background-image: url("../../assets/classroombuilding.png");
  background-size: cover;
}
.Monson-img {
  width: 340px;
  height: 475px;
  background-image: url("../../assets/MonsonCenter.png");
  background-size: cover;
}
.Ecocenter-img {
  width: 340px;
  height: 280px;
  background-image: url("../../assets/Ecocenter.png");
  background-size: cover;
}
.text-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  /* margin-top: 30px; */
  align-items: center;
}
.number-img {
  width: 140px;
  height: 101px;
}
.img-text {
  font-weight: 700;
  font-size: 30px;
  line-height: 64px;
  text-align: center;
}
.Fulton-img {
  width: 325px;
  height: 371px;
  background-image: url("../../assets/Fultonlibrary.png");
  background-size: cover;
}
.college-img {
  width: 340px;
  height: 307px;
  background-image: url("../../assets/AgricultureCollege.png");
  background-size: cover;
}

.title_style {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.place-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
}
.Monument-img {
  width: 320px;
  height: 272px;
  background-image: url("../../assets/MonumentPlaza.png");
  background-size: cover;
}
.Jordan-img {
  width: 344px;
  height: 272px;
  background-image: url("../../assets/JordanLine.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.Laboratory-img {
  width: 350px;

  height: 220px;
  background-image: url("../../assets/StateLaboratory.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.Geology-img {
  width: 325px;
  height: 371px;

  background-image: url("../../assets/Geophysics.png");
  background-size: cover;
}
.S-Line-img {
  width: 344px;
  height: 372px;
  background-image: url("../../assets/S-Line.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.title-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 56px; */
  gap: 24px;
}
.start-project {
  font-weight: 600;
  font-size: 28px;
  line-height: 72px;
  
}

@media (min-width: 640px) {
  .project-card {
    align-items: center;
  }
  .place-text{
    font-size: 18px;
  }
  .classroom-img {
    width: 630px;
    height: 575px;
  }
  .Monson-img {
    width: 500px;
    height: 575px;
  }
  .Ecocenter-img {
    width: 580px;
    height: 471px;
  }
  .college-img {
    width: 553px;
    height: 607px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .img-text {
    font-size: 46px;
  }
  .Fulton-img {
    width: 565px;
    height: 571px;
  }

  .Monument-img {
    width: 550px;
    height: 472px;
  }
  .Laboratory-img {
    width: 583px;
    height: 407px;
    background-size: cover;
  }
  .Jordan-img {
    width: 560px;
    height: 472px;

    background-size: cover;
  }
  .Geology-img {
    width: 565px;
    height: 571px;
  }
  
  .S-Line-img {
    width: 564px;
    height: 472px;
    background-size: cover;
  }
}

@media (min-width: 1024px) {
  .projects-section{
    gap: 50px;
  }
  .project-card {
    flex-direction: row;
    margin: auto;
  }
  .classroom-img {
    width: 530px;
    height: 475px;
  }
  .Monson-img {
    width: 278px;
    height: 475px;
  }
  .college-img {
    width: 480px;
    height: 507px;
  }
  .Monument-img {
    width: 444px;
    height: 472px;
  }
  .Jordan-img {
    width: 344px;
    height: 372px;
  }
  .Fulton-img {
    width: 325px;
    height: 371px;
  }
  .Ecocenter-img {
    width: 564px;
    height: 571.92px;
  }
  .Geology-img {
    width: 225px;
    height: 271px;
  }
  .S-Line-img {
    width: 564px;
    height: 472px;
  }
  .number-img {
    width: 240px;
    height: 151px;
  }
  .title_style {
    font-size: 20px;
  }
  .start-project {
    font-size: 38px;
  }
}
@media (min-width: 1280px) {
  
  .project-card {
    flex-direction: row;
    gap: 64px;
  }
  .classroom-img {
    width: 730px;
    height: 575px;
  }
  .Monson-img {
    width: 378px;
    height: 575px;
  }

  .text-container {
    width: 580px;
    height: 505px;
  }
  .number-img {
    width: 480px;
    height: 351px;
  }
  .img-text {
    font-weight: 700;
    font-size: 54px;
    line-height: 64px;
    text-align: center;
  }
  .Fulton-img {
    width: 325px;
    height: 371px;
  }
  .college-img {
    width: 783px;
    height: 607px;
    background-size: cover;
  }
  .Monument-img {
    width: 604px;
    height: 572px;
  }
  .Laboratory-img {
    width: 783px;
    height: 607px;
  }
  .Jordan-img {
    width: 504px;
    height: 572px;
  }

  .Geology-img {
    width: 325px;
    height: 371px;
  }
  .S-Line-img {
    width: 500px;
    height: 472px;
  }
  .start-project {
    font-size: 48px;
  }
}

@media (min-width: 1580px) {
  .project-card {
    justify-content: center;
    gap: 10vh;
  }
}
