.email-container {
  width: 150px;
  height: 40px;
  display: flex;
  gap: 8px;
  color: #ffff;
  justify-content: center;
  padding: 10px 12px 10px 12px;
  border: 1px solid #000000;
  background-color: #000000;
}
.phone-number-text {
  width: 150px;
  height: 40px;
  display: flex;
  gap: 8px;
  color: #000000;
  justify-content: center;
  padding: 10px 12px 10px 12px;
  border: 1px solid #000000;
}
.label {
  text-align: center;
  line-height: 20px;

  color: #000000;
  font-size: 14px;
  font-weight: 600px;
}
.link-email-text {
  text-decoration: none;
  color: #ffff;
}
